<!--コード進行投稿画面-->
<!DOCTYPE html>
<html lang="ja">
  <%- include("../include/head") %>
  <body>
    <!-- ヘッダー部分 -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <div class="container">
        <h2 class="navbar-brand font-italic">Share Code</h2>
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/posts" class="nav-link">トップ</a></li>
          <li class="nav-item"><a href="/user-list" class="nav-link">ユーザー</a></li>
          <li class="nav-item active"><a href="/posts/new" class="nav-link">新規投稿</a></li>
          <li class="nav-item"><a href="/mypage" class="nav-link">マイページ</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">ログイン</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h2><%= user.name %></h2>
        <form method="post">
          <!--コード進行のKey を指定させる-->
          <p>この曲のKeyを選択してください</p>
          <select name="progKey" size="1" required>
            <option value="null">わからない</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="Cm">Cm</option>
            <option value="C#m">C#m</option>
            <option value="Dm">Dm</option>
            <option value="D#m">D#m</option>
            <option value="Em">Em</option>
            <option value="Fm">Fm</option>
            <option value="F#m">F#m</option>
            <option value="Gm">Gm</option>
            <option value="G#m">G#m</option>
            <option value="Am">Am</option>
            <option value="A#m">A#m</option>
            <option value="Bm">Bm</option>
          </select>
       <div class="card w-75">
          <div class="card-header font-weight-bold bg-secondary"><img class="card-icon" src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= user.iconFileName %>" alt=""><span class="ml-3"><%= user.name %></span></div>
          <div class="card-body">
            <p>曲名を入力してください</p>
              <h4 class="card-title"><input required name="songName" placeholder="タイトルを入力"></h4>
            <p>オリジナル曲？<br>
              <input type="radio" name="isOriginal" value="true"> はい
              <input type="radio" name="isOriginal" value="false"> いいえ
            </p>
            <input type="radio" name="isMajor" value="true" checked> メジャーKey
            <input type="radio" name="isMajor" value="false"> マイナーKey
            <p>投稿コード進行</p>
              <p class="card-text"><textarea required class="code-prog" cols="30" rows="9" name="codeProg" placeholder="小節は「|」で区切ってください 例　:  G# | A# | Gm F | Cm"></textarea></p>
            <p>概要覧</p>
            <p><textarea cols="65" rows="7" name="memo" placeholder="このコード進行について"></textarea></p>
            <button class="btn btn-dark">新規作成</button>
         </div>
       </div>
       <!--最後に今までの自分が投稿したコード進行を表示する-->
       <!--ログイン機能を実装するまで、userIdを指定する-->
     <script src="/javascripts/bunble.js"></script>
    </div>
  </body>
</html>
