<!DOCTYPE html>
<html lang="ja">
  <%- include('include/head') %>
  <body>
    <div class="container">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </div>
  </body>
</html>
<!-- エラーが出た時の表示　-->

<!--
　　　　　　　　　　　　　　　　　　　　Share-code
聞きたいことor 確認してほしいところ　エラー

同じユーザの場合ははじく処理を書く
                    ＜＜＜＜＜＜＜５月３日＞＞＞＞＞＞＞＞

  　　　　　　　　　  ＜＜＜＜＜＜＜５月４日＞＞＞＞＞＞＞＞
  チェックボックス　onchage or onclick
　 表示変更機能…　
    コード非表示
    説明文非表示 等

  並び替え機能
    いいねの数順
    メジャーorマイナー　orderBy  しーけらいず　データベースの機能


  　　　　　　　　　＜＜＜＜＜＜＜＜５月５日＞＞＞＞＞＞＞＞
  デザイン　
   背景画像の選択
   全体的な見直し

                  ＜＜＜＜＜＜＜＜５月６日＞＞＞＞＞＞＞＞＞

　検索機能の実装

  herokuで公開

　　　　　　　　　　　　　　　　　!!!!!  next work  !!!!!

  ポートフォリオ作成

  フロントサイドjs
    ajex
    リアクト等…
-->
