<!DOCTYPE html>
<html lang="ja">
  <%- include('include/head') %>
  <body>
    <div class="container">
      <h1>トップページ</h1>
      <script src="/javascripts/bunble.js"></script>
    </div>
  </body>
</html>
<!--
　　　　　　　　　　　　　　　　　　　　Share-code
聞きたいこと
  もしあれば、保存するとった書き方、(sequelize)
  もしあれば、User情報を渡す書き方
  gitHub　にfirst commitできんかったなぜか
  img の初期値

  通知機能

　デザイン　
    新規作成ページのデザイン見直し
    詳細ページのデザインの見直し
    背景画像の追加…ぼかしておしゃれにする
    cardの大きさをそろえる、詳細… card 大きさ固定　文字列省略
    cardを横並びにしたい　ブレイクポイントで縦にする

  UserList
    自分の投稿に対して、いいねの数の合計を表示　　　　　　　　　　　聞く

  user詳細ページを作ってもいいかも

  Post
    音源を保存する場所 詳細ページで、再生する？　aws S3に追加する？

  User
    画像が指定されなかった場合の画像を保存する

  comment機能の実装
    削除機能の実装
    返信機能の追加　　新たにid 返信id 追加
    コメントしたユーザーのアイコンや名前を表示

  通知機能
    自分のPOSTに返信やいいね                          確認
    通知テーブル

  並び替え機能の実装
    いいねの数順
    メジャーorマイナー　orderBy  しーけらいず　データベースの機能

　検索機能の実装

  herokuで公開


　　　　　　　　　　　　　　　　　!!!!!  next work  !!!!!

  ポートフォリオ作成

  フロントサイドjs
    ajex
    リアクト等…
-->
