<!--自分の登録された楽器の詳細画面-->
<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/head') %>
  <body>
    <div class="container">
      <h1>登録楽器</h1>
      <form method="post">
        <div>
          <% if (instrument.favoriteInstrument) { %>
            <span>お気に入り楽器</sapn>
            <h2><%= instrument.favoriteInstrument %></h2>
          <% } else { %>
            <span>お気に入りの楽器を登録する</span>
            <a href="/instrument/edit">編集</a>
          <% }; %>
        </div>
        <div>
          <% if (instrument.favoriteInstrument === "ギター") { %>
            <p>和音を出すことができます</p>
          <% } else if (instrument.favoriteInstrument === "ベース") { %>
            <p>ルート音を出します</p>
          <% } else if (instrument.favoriteInstrument === "ドラム") { %>
            <p>リズムを刻みます</p>
          <% } else { %>
             <p>他のユーザーの楽器のシェア率が気になりませんか？</p>
          <% }; %>
        </div>
        <p>他のユーザーのお気に入り楽器を見る</p>
        <a href="/instrument/instrument-list">投稿一覧</a>
        <a href="/instrument/edit">楽器の編集</a>
      <script src="/javascripts/bunble.js"></script>
    </div>
  </body>
</html>
